@import '../../styles/variables/variables';
@import '../../styles/mixins/mixins';
.answers{
  display: flex;
  overflow: auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.sideBar{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.answerList{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.categoryTitle{
  color: white;
  font-size: 32px;
  font-weight: 500;
}

.link{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.activeLink{
  @extend .link;
  color: #2c3e50;
}

.button{
  @include hover-opacity;
  padding: 5px;
  border: none;
  border-radius: 6px;
  color: $main-dark-blue;
  background: greenyellow;
  cursor: pointer;
  @media screen and (max-width: 425px) {
    font-size: 12px;
    padding: 3px;
  }
}

