@import '../../styles/mixins/mixins';
.header{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #3e5151, #decba4);
}
.title{
  @include font-adapt;
  font-size: 40px;
  font-weight: 500;
  color: white;
}
