$main-accent: #0ec261;
$main-black: #121212;
$main-dark-grey: #999;
$main-light-grey: #eeeeee;
$main-bg: #f5f6f8;
$main-blue: #007bff;
$main-dark-blue: #3d5170;

/*btn_colors*/
$btn: linear-gradient(90deg, #0ec261 2.61%, #039f67 112.6%);
$btn-hover: brightness(0.9);
$btn-focus: brightness(0.7);
$btn-active: brightness(0.9);
/*transition*/
$transition: all 0.3s ease-in-out;
