@import '../../styles/mixins/mixins';
.footer{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #3e5151, #decba4);
  padding: 0 20%;
}
.author{
  @include font-adapt;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
